body
{
    font-family:serif;
    background: url("picture/back1.jpg") no-repeat center center fixed;
    	background-size: cover;
    margin:0;

}

h1{
    text-align:center;
    font-weight:bold;

}
h2{
    font-weight:bold;
    font-family:serif;
    text-align:center;
}
h4{
    font-weight:bold;
    font-family:serif
}
.ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: yellow;


}

li a {
    float: left;
    display: block;
    color: green;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #a58124;
}

.header{
		padding-top: 10px;
		padding-bottom: 20px;
    background: url("picture/back3.jpg") no-repeat center center fixed;
    	background-size: cover;
		background-size: cover;
    text-align: center;
	}

.part{
    background: url("picture/back2.jpg") no-repeat center center fixed;
      background-size: cover;
    margin:20px;
    width: 80%;
    font-family: Optima;
  }
p{
    font-weight:lighter;

}
.center{
  text-align: center;
}


img.ugly{
    width:15em;

}

.sidenav {

  height: 360px;
  width: 13%;
  margin-top: 20px;
  float: right;
  z-index: 1;
  top: 0;
  right: 0;
  background: url("picture/back4.jpg") no-repeat center center fixed;
    background-size: cover;
  overflow-x: hidden;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 1.1em
}
